<h1><%= currentUser.firstname%>'s Profile Page</h1>


<div>
	<% if (currentUser.profile && currentUser.bio) {%>
	<img src="<%= currentUser.profile%>">
	<p><%= currentUser.bio%></p>
	<% } else { %>
	<p>You have no profile picture or bio</p>
	<% }%>
</div>