<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
				<li>
			<a href="">Link 1</a>
		</li>
				<li>
			<a href="">Link 2</a>
		</li>
	</ul>
	<ul>
		<li>
			<a href="/auth/signup">Sign Up</a>
		</li>
		<li>
			<a href="/auth/login">Log-in</a>
		</li>
		<li>
			<a href="/auth/logout">Logout</a>
		</li>
	</ul>

</nav>